<header>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
      .nav-wrapper.header {
        overflow: hidden;
      }

      .nav-main {
        width: 100%;
      }
    </style>
</head>
<body>
    <!-- Header HTML -->
    <nav class="nav-main">
        <div class="nav-wrapper header blue">
          <a href="#" class="brand-logo right hide-on-med-and-down">OpenInventory</a>
          <ul id="links-wrapper" class="links-wrapper left">
            <li><a href="/">Home</a></li>
            <li><a href="stats.php">Stats</a></li>
            <li><a href="scan.php">Scan</a></li>
            <li><a href="about.html">About</a></li>
          </ul>
        </div>
    </nav>
    
</body>
</html>
</header>